<!-- Header Start -->
<div class="fixit_new_header_v1">
	<div class="fixit_top_header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 col-md-6 col-sm-7 col-xs-12">
					<ul class="fixit_header_contactinfo">
						<li>
							<p><a href="tel:+919920142161"><span><img src="images/call.svg"></span>+91-99201 42161</a></p>
						</li>
						<li>
							<p><a href="mailto:sales@rfflanges.com"><span><img src="images/msg.svg"></span>sales@rfflanges.com</a></p>
						</li>
					</ul>
				</div>
				<div class="col-lg-5 col-md-4 col-sm-5 col-xs-12">
					<ul class="fixit_social_icon">
						<li><a href="https://www.facebook.com/flangesandpipefitting" target="_blank"><i class="fa fa-facebook" aria-hidden="true" ></i></a></li>
						<li><a href="https://www.linkedin.com/in/ramdevra-forge-a85839aa/?originalSubdomain=in" target="_blank"><i class="fa fa-linkedin" aria-hidden="true" ></i></a></li>
						<li><a href="https://www.instagram.com/ramdevraforge/" target="_blank"><i class="fa fa-instagram" aria-hidden="true" target="_blank"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="fixit_header fixit_custom_anim">
		<div class="fixit_menu_toggle fixit_custom_anim">
			<span class="top"></span>
			<span class="center"></span>
			<span class="bottom"></span>
		</div>
		<div class="fixit_header_left">
			<div class="fixit_logo">
				<a href="/"><img src="images/logo.jpg" alt="Ramdevra Forge & Fittings." /></a>
			</div>
		</div>
		<div class="fixit_header_center fixit_custom_anim">
			<div class="fixit_menu fixit_custom_anim">
				<ul>
					<li><a href="/">home</a></li>
					<li><a href="/about-us">about</a></li>
					<li><a>Stainless Steel</a>
						<ul>
							<li><a><strong>Stainless Steel</strong></a>
								<ul>
									<li><a href="/stainless-steel-pipes-supplier-exporter">Stainless Steel Pipes</a></li>
									<li><a href="/stainless-steel-pipe-fittings-supplier-exporter">Stainless Steel Pipe Fittings</a></li>
									<li><a href="/stainless-steel-forged-fittings-supplier-exporter">Stainless Steel Forged Fittings</a></li>
									<li><a href="/stainless-steel-flanges-supplier-exporter">Stainless Steel Flanges</a></li>
									<li><a href="/stainless-steel-fasteners-supplier-exporter">Stainless Steel Fasteners</a></li>
									<li><a href="/stainless-steel-rod-bars-wire-mesh-supplier-exporter">Stainless Steel Rod, Bars, Wire</a></li>
									<li><a href="/stainless-steel-compression-tube-fittings-supplier-exporter">SS Compression Tube Fittings</a></li>
									<li><a href="/stainless-steel-sheet-plate-supplier-exporter">Stainless Steel Sheet Plate</a></li>
								</ul>
							</li>
							<li><a><strong>Duplex Steel</strong></a>
								<ul>
									<li><a href="/duplex-steel-s31803-s32205-pipes-supplier-exporter">Duplex Steel Pipes</a></li>
									<li><a href="/duplex-steel-s31803-s32205-pipe-fittings-supplier-exporter">Duplex Steel Pipe Fittings</a></li>
									<li><a href="/duplex-steel-s31803-s32205-forged-fittings-supplier-exporter">Duplex Steel Forged Fittings</a></li>

									<li><a href="/duplex-steel-s31803-s32205-flanges-supplier-exporter">Duplex Steel Flanges</a></li>
									<li><a href="/duplex-steel-s31803-s32205-fasteners-supplier-exporter">Duplex Steel Fasteners</a></li>
									<li><a href="/duplex-steel-s31803-s32205-rod-bars-wire-mesh-supplier-exporter">Duplex Steel Rod, Bars, Wire</a></li>
									<li><a href="/duplex-steel-s31803-s32205-compression-tube-fittings-supplier-exporter">Duplex Steel Tube Fittings</a></li>
									<li><a href="/duplex-steel-s31803-s32205-sheet-plate-supplier-exporter">Duplex Steel Sheet Plate</a></li>
								</ul>
							</li>
							<li><a><strong>Super Duplex</strong></a>
								<ul>
									<li><a href="/super-duplex-steel-s32750-s32760-pipes-supplier-exporter">Super Duplex Steel Pipes</a></li>
									<li><a href="/super-duplex-steel-s32750-s32760-pipe-fittings-supplier-exporter">Super Duplex Pipe Fittings</a></li>
									<li><a href="/super-duplex-steel-s32750-s32760-forged-fittings-supplier-exporter">Super Duplex Forged Fittings</a></li>
									<li><a href="/super-duplex-steel-s32750-s32760-flanges-supplier-exporter">Super Duplex Steel Flanges</a></li>
									<li><a href="/super-duplex-steel-s32750-s32760-fasteners-supplier-exporter">Super Duplex Steel Fasteners</a></li>
									<li><a href="/super-duplex-steel-s32750-s32760-rod-bars-wire-mesh-supplier-exporter">Super Duplex Rod, Bars, Wire</a></li>
									<li><a href="/super-duplex-steel-s32750-s32760-compression-tube-fittings-supplier-exporter">Super Duplex Steel Tube Fittings</a></li>
									<li><a href="/super-duplex-steel-s32750-s32760-sheet-plate-supplier-exporter">Super Duplex Steel Sheet Plate</a></li>
								</ul>
							</li>
							<li><a><strong>SMO 254 </strong></a>
								<ul>
									<li><a href="/smo-254-pipes-supplier-exporter">SMO 254 Pipes</a></li>
									<li><a href="/smo-254-pipe-fittings-supplier-exporter">SMO 254 Pipe Fittings</a></li>
									<li><a href="/smo-254-forged-fittings-supplier-exporter">SMO 254 Forged Fittings</a></li>
									<li><a href="/smo-254-flanges-supplier-exporter">SMO 254 Flanges</a></li>
									<li><a href="/smo-254-fasteners-supplier-exporter">SMO 254 Fasteners</a></li>
									<li><a href="/smo-254-rod-bars-wire-mesh-supplier-exporter">SMO 254 Rod, Bars, Wire</a></li>
									<li><a href="/smo-254-compression-tube-fittings-supplier-exporter">SMO 254 Compression Fittings</a></li>
									<li><a href="/smo-254-sheet-plate-supplier-exporter">SMO 254 Sheet Plate </a></li>
								</ul>
							</li>
							<li><a><strong>Sanicro 28 </strong></a>
								<ul>
									<li><a href="/sanicro-28-pipes-supplier-exporter">Sanicro 28 Pipes</a></li>
									<li><a href="/sanicro-28-pipe-fittings-supplier-exporter">Sanicro 28 Pipe Fittings</a></li>
									<li><a href="/sanicro-28-sheet-plate-supplier-exporter">Sanicro 28 Sheet Plate</a></li>
								</ul>
							</li>
						</ul>
					</li>

					<li><a>Carbon & Alloy Steel</a>
						<ul>
							<li><a><strong>Carbon Steel</strong></a>
								<ul>
									<li><a href="/carbon-steel-pipes-supplier-exporter">Carbon Steel Pipes</a></li>
									<li><a href="/carbon-steel-pipe-fittings-supplier-exporter">Carbon Steel Pipe Fittings</a></li>
									<li><a href="/carbon-steel-forged-fittings-supplier-exporter">Carbon Steel Forged Fittings</a></li>
									<li><a href="/carbon-steel-flanges-supplier-exporter">Carbon Steel Flanges</a></li>
									<li><a href="/carbon-steel-fasteners-supplier-exporter">Carbon Steel Fasteners</a></li>
									<li><a href="/carbon-steel-rod-bars-wire-mesh-supplier-exporter">Carbon Steel Rod, Bars, Wire</a></li>
									<li><a href="/astm-a105-carbon-steel-compression-tube-fittings-supplier-exporter">Carbon Steel Tube Fittings</a></li>
									<li><a href="/carbon-steel-sheet-plate-supplier-exporter">Carbon Steel Sheet Plate</a></li>
								</ul>
							</li>
							<li><a><strong>Alloy Steel</strong></a>
								<ul>
									<li><a href="/alloy-steel-pipes-supplier-exporter">Alloy Steel Pipes</a></li>
									<li><a href="/alloy-steel-tubes-supplier-exporter">Alloy Steel Tubes</a></li>
									<li><a href="/alloy-steel-pipe-fittings-supplier-exporter">Alloy Steel Pipe Fittings</a></li>
									<li><a href="/alloy-steel-forged-fittings-supplier-exporter">Alloy Steel Forged Fittings</a></li>
									<li><a href="/alloy-steel-flanges-supplier-exporter">Alloy Steel Flanges</a></li>
									<li><a href="/alloy-steel-fasteners-supplier-exporter">Alloy Steel Fasteners</a></li>
									<li><a href="/alloy-steel-rod-bars-wire-mesh-supplier-exporter">Alloy Steel Rod, Bars, Wire</a></li>
									<li><a href="/alloy-steel-a387-gr-11-22-91-sheet-plate-supplier-exporter">Alloy Steel Sheet Plate</a></li>
								</ul>
							</li>

						</ul>
					</li>

					<li><a>Special Alloys</a>
						<ul>
							<li><a><strong>Inconel</strong></a>
								<ul>
									<li><a href="/inconel-pipes-supplier-exporter">Inconel Pipes</a></li>
									<li><a href="/inconel-pipe-fittings-supplier-exporter">Inconel Pipe Fittings</a></li>
									<li><a href="/inconel-forged-fittings-supplier-exporter">Inconel Forged Fittings</a></li>
									<li><a href="/inconel-flanges-supplier-exporter">Inconel Flanges</a></li>
									<li><a href="/inconel-fasteners-supplier-exporter">Inconel Fasteners</a></li>
									<li><a href="/inconel-rod-bars-wire-mesh-supplier-exporter">Inconel Rod, Bars, Wire</a></li>
									<li><a href="/inconel-compression-tube-fittings-supplier-exporter">Inconel Compression Fittings</a></li>
									<li><a href="/inconel-sheet-plate-supplier-exporter">Inconel Sheet Plate </a></li>
								</ul>
							</li>
							<li><a><strong>Hastelloy</strong></a>
								<ul>
									<li><a href="/hastelloy-c276-pipes-supplier-exporter">Hastelloy Pipes</a></li>
									<li><a href="/hastelloy-pipe-fittings-supplier-exporter">Hastelloy Pipe Fittings</a></li>
									<li><a href="/hastelloy-forged-fittings-supplier-exporter">Hastelloy Forged Fittings</a></li>
									<li><a href="/hastelloy-flanges-supplier-exporter">Hastelloy Flanges</a></li>
									<li><a href="/hastelloy-c276-fasteners-supplier-exporter">Hastelloy Fasteners</a></li>
									<li><a href="/hastelloy-rod-bars-wire-mesh-supplier-exporter">Hastelloy Rod, Bars, Wire</a></li>
									<li><a href="/hastelloy-c276-compression-tube-fittings-supplier-exporter">Hastelloy Compression Fittings</a></li>
									<li><a href="/hastelloy-c276-sheet-plate-supplier-exporter">Hastelloy Sheet Plate </a></li>
								</ul>
							</li>
							<li><a><strong>Nickel</strong></a>
								<ul>
									<li><a href="/nickel-pipes-supplier-exporter">Nickel Pipes</a></li>
									<li><a href="/nickel-pipe-fittings-supplier-exporter">Nickel Pipe Fittings</a></li>
									<li><a href="/nickel-forged-fittings-supplier-exporter">Nickel Forged Fittings</a></li>
									<li><a href="/nickel-flanges-supplier-exporter">Nickel Flanges</a></li>
									<li><a href="/nickel-fasteners-supplier-exporter">Nickel Fasteners</a></li>
									<li><a href="/nickel-rod-bars-wire-mesh-supplier-exporter">Nickel Rod, Bars, Wire</a></li>
									<li><a href="/nickel-compression-tube-fittings-supplier-exporter">Nickel Compression Fittings</a></li>
									<li><a href="/nickel-sheet-plate-supplier-exporter">Nickel Sheet Plate </a></li>
								</ul>
							</li>
							<li><a><strong>Monel</strong></a>
								<ul>
									<li><a href="/monel-400-pipes-supplier-exporter">Monel Pipes</a></li>
									<li><a href="/monel-400-pipe-fittings-supplier-exporter">Monel Pipe Fittings</a></li>
									<li><a href="/monel-forged-fittings-supplier-exporter">Monel Forged Fittings</a></li>
									<li><a href="/monel-flanges-supplier-exporter">Monel Flanges</a></li>
									<li><a href="/monel-fasteners-supplier-exporter">Monel Fasteners</a></li>
									<li><a href="/monel-rod-bars-wire-mesh-supplier-exporter">Monel Rod, Bars, Wire</a></li>
									<li><a href="/monel-compression-tube-fittings-supplier-exporter">Monel Compression Fittings</a></li>
									<li><a href="/monel-400-sheet-plate-supplier-exporter">Monel Sheet Plate </a></li>
								</ul>
							</li>
							<li><a><strong>Titanium</strong></a>
								<ul>
									<li><a href="/titanium-pipes-supplier-exporter">Titanium Pipes</a></li>
									<li><a href="/titanium-pipe-fittings-supplier-exporter">Titanium Pipe Fittings</a></li>
									<li><a href="/titanium-forged-fittings-supplier-exporter">Titanium Forged Fittings</a></li>
									<li><a href="/titanium-flanges-supplier-exporter">Titanium Flanges</a></li>
									<li><a href="/titanium-fasteners-supplier-exporter">Titanium Fasteners</a></li>
									<li><a href="/titanium-rod-bars-wire-mesh-supplier-exporter">Titanium Rod, Bars, Wire</a></li>
									<li><a href="/titanium-compression-tube-fittings-supplier-exporter">Titanium Compression Fittings</a></li>
									<li><a href="/titanium-sheet-plate-supplier-exporter">Titanium Sheet Plate </a></li>
								</ul>
							</li>

							<li><a><strong>Alloy 20</strong></a>
								<ul>
									<li><a href="/alloy-20-pipes-supplier-exporter">Alloy 20 Pipes</a></li>
									<li><a href="/alloy-20-pipe-fittings-supplier-exporter">Alloy 20 Pipe Fittings</a></li>
									<li><a href="/alloy-20-forged-fittings-supplier-exporter">Alloy 20 Forged Fittings</a></li>
									<li><a href="/alloy-20-flanges-supplier-exporter">Alloy 20 Flanges</a></li>
									<li><a href="/alloy-20-fasteners-supplier-exporter">Alloy 20 Fasteners</a></li>
									<li><a href="/alloy-20-rod-bars-wire-mesh-supplier-exporter">Alloy 20 Rod, Bars, Wire</a></li>
									<li><a href="/alloy-20-compression-tube-fittings-supplier-exporter">Alloy 20 Tube Fittings</a></li>
									<li><a href="/alloy-20-sheet-plate-supplier-exporter">Alloy 20 Sheet Plate </a></li>
								</ul>
							</li>
							<li><a><strong>Cupro Nickel</strong></a>
								<ul>
									<li><a href="/cupro-nickel-pipes-supplier-exporter">Cupro Nickel Pipes</a></li>
									<li><a href="/cupro-nickel-pipe-fittings-supplier-exporter">Cupro Nickel Pipe Fittings</a></li>
									<li><a href="/cupro-nickel-forged-fittings-supplier-exporter">Cupro Nickel Forged Fittings</a></li>
									<li><a href="/cupro-nickel-flanges-supplier-exporter">Cupro Nickel Flanges</a></li>
									<li><a href="/cupro-nickel-rod-bars-wire-mesh-supplier-exporter">Cupro Nickel Rod, Bars, Wire</a></li>
									<li><a href="/cupro-nickel-compression-tube-fittings-supplier-exporter">Cupro Nickel Tube Fittings</a></li>
									<li><a href="/cupro-nickel-sheet-plate-supplier-exporter">Cupro Nickel Sheet Plate </a></li>
								</ul>
							</li>
							<li><a><strong>Copper / Brass </strong></a>
								<ul>
									<li><a href="/copper-brass-rod-bars-wire-mesh-supplier-exporter">Copper / Brass Rod, Bars, Wire</a></li>
									<li><a href="/copper-brass-compression-tube-fittings-supplier-exporter">Copper / Brass Tube Fittings</a></li>
									<li><a href="/copper-brass-sheet-plate-supplier-exporter">Copper / Brass Sheet Plate</a></li>
								</ul>
							</li>

						</ul>
					</li>

					<li><a href="/contact">contact</a></li>

					<li><a href="/blog">blog</a></li>
				</ul>

			</div>

		</div>

		<div class="fixit_header_right">
			<ul class="fixit_cart_secret_menu">

				<li class="fixit_secret_wrapper"><a><img src="images/iso-9001.png" alt="ISO 9001 Certified"></a>
					<div class="fixit_secret_box">
						<span class="fixit_secret_close"><i class="fa fa-times" aria-hidden="true"></i></span>
						<div class="fixit_logo">
							<a href="/"><img src="images/logo.jpg" alt="Ramdevra Forge & Fittings "></a>

						</div>

						<p>Founded in the year 2006, Ramdevra Forge is among the most notable business enterprises occupied in Manufacturing and Supplying a comprehensive consignment of products comprising Welding Neck Flanges, Pipe Fittings, Stainless Steel Flanges, Forge Fittings, Butt Welding Fittings, Commercial Fasteners and Stainless Steel Rod.</p>


						<img src="images/iso.png" alt="">
						<p></p>
						<p><strong>Corporate Address</strong> SHOP NO-3,GROUND FLOOR,PLOT NO-171/181,3RD KUMBHARWADA, DR M.G MARG, Mumbai, Maharashtra 400004 </p>

						


						<p><strong>Mobile</strong> : +91-99201142161 <br>
							<strong>Phone Nos.</strong> : +91-22-66109493 / 66109491 <br>
							<strong>E-mail</strong> : sales@rfflanges.com</p>


					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- Header End -->