<section class="footer-bar">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<figure><img src="images/contact-icon01.png" alt="Email contact icon"></figure>
				<h4>E-MAILS</h4>
				<address>
					sales@rfflanges.com
				</address>
			</div>
			<!-- end col-3 -->
			<div class="col-lg-3 col-md-6">
				<figure><img src="images/contact-icon02.png" alt="Phone contact icon"></figure>
				<h4>PHONES</h4>
				<address>
					+91-22-66109493 / 66109491
				</address>
			</div>
			<!-- end col-3 -->
			<div class="col-lg-3 col-md-6">
				<figure><img src="images/contact-icon03.png" alt="Business hours icon"></figure>
				<h4>SUPPORT</h4>
				<address>
					Mon to Fri 10.30 AM – 6.30 PM
				</address>
			</div>
			<!-- end col-3 -->
			<div class="col-lg-3 col-md-6">
				<figure><img src="images/contact-icon04.png" alt="Office location icon"></figure>
				<h4>LOCATION</h4>
				<address>
					Kumbharwada, Mumbai - 400004
				</address>
			</div>
			<!-- end col-3 -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end quote-bar -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<img src="images/logo-light.png" alt="Ramdevra Forge & Fittings logo" class="logo">
				<p>An established organization, Ramdevra Forge & Fittings. is expanding quickly with <br>
					its sights set on becoming a global player in the piping industry.</p>
				<ul>
					<li><a href="https://www.facebook.com/flangesandpipefitting" target="_blank">Facebook</a></li>   
					<li><a href="https://www.instagram.com/ramdevraforge/" target="_blank">Instagram</a></li><li><a href="https://www.linkedin.com/in/ramdevra-forge-a85839aa/?originalSubdomain=in" target="_blank">LinkedIn</a></li>
				</ul>
				<p>Copyright &copy; Ramdevra Forge & Fittings 2020. | <a href="https://www.rfflanges.com/">RF Flanges</a> | <a href="/sitemap">Sitemap</a></p>
			</div>
			<!-- end col-12 -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</footer>
<!-- end footer -->