<!-- Header Start -->
<div class="fixit_new_header_v1">
	<div class="fixit_top_header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 col-md-6 col-sm-7 col-xs-12">
					<ul class="fixit_header_contactinfo">
						<li>
							<p><a href="tel:+919920142161"><span><img src="images/call.svg"></span>+91-99201 42161</a></p>
						</li>
						<li>
							<p><a href="mailto:sales@rfflanges.com"><span><img src="images/msg.svg"></span>sales@rfflanges.com</a></p>
						</li>
					</ul>
				</div>
				<div class="col-lg-5 col-md-4 col-sm-5 col-xs-12">
					<ul class="fixit_social_icon">
						<li><a href="https://www.facebook.com/flangesandpipefitting" target="_blank"><i class="fa fa-facebook" aria-hidden="true" ></i></a></li>
						<li><a href="https://www.linkedin.com/in/ramdevra-forge-a85839aa/?originalSubdomain=in" target="_blank"><i class="fa fa-linkedin" aria-hidden="true" ></i></a></li>
						<li><a href="https://www.instagram.com/ramdevraforge/" target="_blank"><i class="fa fa-instagram" aria-hidden="true" target="_blank"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="fixit_header fixit_custom_anim">
		<div class="fixit_menu_toggle fixit_custom_anim">
			<span class="top"></span>
			<span class="center"></span>
			<span class="bottom"></span>
		</div>
		<div class="fixit_header_left">
			<div class="fixit_logo">
				<a href="index.html"><img src="images/logo.jpg" alt="Ramdevra Forge & Fittings." /></a>
			</div>
		</div>
		<div class="fixit_header_center fixit_custom_anim">
			<div class="fixit_menu fixit_custom_anim">
				<ul>
					<li><a href="index.html">home</a></li>
					<li><a href="about-us.html">about</a></li>
					<li><a>Stainless Steel</a>
						<ul>
							<li><a><strong>Stainless Steel</strong></a>
								<ul>
									<li><a href="stainless-steel-pipes-supplier-exporter.html">Stainless Steel Pipes</a></li>
									<li><a href="stainless-steel-pipe-fittings-supplier-exporter.html">Stainless Steel Pipe Fittings</a></li>
									<li><a href="stainless-steel-forged-fittings-supplier-exporter.html">Stainless Steel Forged Fittings</a></li>
									<li><a href="stainless-steel-flanges-supplier-exporter.html">Stainless Steel Flanges</a></li>
									<li><a href="stainless-steel-fasteners-supplier-exporter.html">Stainless Steel Fasteners</a></li>
									<li><a href="stainless-steel-rod-bars-wire-mesh-supplier-exporter.html">Stainless Steel Rod, Bars, Wire</a></li>
									<li><a href="stainless-steel-compression-tube-fittings-supplier-exporter.html">SS Compression Tube Fittings</a></li>
									<li><a href="stainless-steel-sheet-plate-supplier-exporter.html">Stainless Steel Sheet Plate</a></li>
								</ul>
							</li>
							<li><a><strong>Duplex Steel</strong></a>
								<ul>
									<li><a href="duplex-steel-s31803-s32205-pipes-supplier-exporter.html">Duplex Steel Pipes</a></li>
									<li><a href="duplex-steel-s31803-s32205-pipe-fittings-supplier-exporter.html">Duplex Steel Pipe Fittings</a></li>
									<li><a href="duplex-steel-s31803-s32205-forged-fittings-supplier-exporter.html">Duplex Steel Forged Fittings</a></li>

									<li><a href="duplex-steel-s31803-s32205-flanges-supplier-exporter.html">Duplex Steel Flanges</a></li>
									<li><a href="duplex-steel-s31803-s32205-fasteners-supplier-exporter.html">Duplex Steel Fasteners</a></li>
									<li><a href="duplex-steel-s31803-s32205-rod-bars-wire-mesh-supplier-exporter.html">Duplex Steel Rod, Bars, Wire</a></li>
									<li><a href="duplex-steel-s31803-s32205-compression-tube-fittings-supplier-exporter.html">Duplex Steel Tube Fittings</a></li>
									<li><a href="duplex-steel-s31803-s32205-sheet-plate-supplier-exporter.html">Duplex Steel Sheet Plate</a></li>
								</ul>
							</li>
							<li><a><strong>Super Duplex</strong></a>
								<ul>
									<li><a href="super-duplex-steel-s32750-s32760-pipes-supplier-exporter.html">Super Duplex Steel Pipes</a></li>
									<li><a href="super-duplex-steel-s32750-s32760-pipe-fittings-supplier-exporter.html">Super Duplex Pipe Fittings</a></li>
									<li><a href="super-duplex-steel-s32750-s32760-forged-fittings-supplier-exporter.html">Super Duplex Forged Fittings</a></li>
									<li><a href="super-duplex-steel-s32750-s32760-flanges-supplier-exporter.html">Super Duplex Steel Flanges</a></li>
									<li><a href="super-duplex-steel-s32750-s32760-fasteners-supplier-exporter.html">Super Duplex Steel Fasteners</a></li>
									<li><a href="super-duplex-steel-s32750-s32760-rod-bars-wire-mesh-supplier-exporter.html">Super Duplex Rod, Bars, Wire</a></li>
									<li><a href="super-duplex-steel-s32750-s32760-compression-tube-fittings-supplier-exporter.html">Super Duplex Steel Tube Fittings</a></li>
									<li><a href="super-duplex-steel-s32750-s32760-sheet-plate-supplier-exporter.html">Super Duplex Steel Sheet Plate</a></li>
								</ul>
							</li>
							<li><a><strong>SMO 254 </strong></a>
								<ul>
									<li><a href="smo-254-pipes-supplier-exporter.html">SMO 254 Pipes</a></li>
									<li><a href="smo-254-pipe-fittings-supplier-exporter.html">SMO 254 Pipe Fittings</a></li>
									<li><a href="smo-254-forged-fittings-supplier-exporter.html">SMO 254 Forged Fittings</a></li>
									<li><a href="smo-254-flanges-supplier-exporter.html">SMO 254 Flanges</a></li>
									<li><a href="smo-254-fasteners-supplier-exporter.html">SMO 254 Fasteners</a></li>
									<li><a href="smo-254-rod-bars-wire-mesh-supplier-exporter.html">SMO 254 Rod, Bars, Wire</a></li>
									<li><a href="smo-254-compression-tube-fittings-supplier-exporter.html">SMO 254 Compression Fittings</a></li>
									<li><a href="smo-254-sheet-plate-supplier-exporter.html">SMO 254 Sheet Plate </a></li>
								</ul>
							</li>
							<li><a><strong>Sanicro 28 </strong></a>
								<ul>
									<li><a href="sanicro-28-pipes-supplier-exporter.html">Sanicro 28 Pipes</a></li>
									<li><a href="sanicro-28-pipe-fittings-supplier-exporter.html">Sanicro 28 Pipe Fittings</a></li>
									<li><a href="sanicro-28-sheet-plate-supplier-exporter.html">Sanicro 28 Sheet Plate</a></li>
								</ul>
							</li>
						</ul>
					</li>

					<li><a>Carbon & Alloy Steel</a>
						<ul>
							<li><a><strong>Carbon Steel</strong></a>
								<ul>
									<li><a href="carbon-steel-pipes-supplier-exporter.html">Carbon Steel Pipes</a></li>
									<li><a href="carbon-steel-pipe-fittings-supplier-exporter.html">Carbon Steel Pipe Fittings</a></li>
									<li><a href="carbon-steel-forged-fittings-supplier-exporter.html">Carbon Steel Forged Fittings</a></li>
									<li><a href="carbon-steel-flanges-supplier-exporter.html">Carbon Steel Flanges</a></li>
									<li><a href="carbon-steel-fasteners-supplier-exporter.html">Carbon Steel Fasteners</a></li>
									<li><a href="carbon-steel-rod-bars-wire-mesh-supplier-exporter.html">Carbon Steel Rod, Bars, Wire</a></li>
									<li><a href="astm-a105-carbon-steel-compression-tube-fittings-supplier-exporter.html">Carbon Steel Tube Fittings</a></li>
									<li><a href="carbon-steel-sheet-plate-supplier-exporter.html">Carbon Steel Sheet Plate</a></li>
								</ul>
							</li>
							<li><a><strong>Alloy Steel</strong></a>
								<ul>
									<li><a href="alloy-steel-pipes-supplier-exporter.html">Alloy Steel Pipes</a></li>
									<li><a href="alloy-steel-tubes-supplier-exporter.html">Alloy Steel Tubes</a></li>
									<li><a href="alloy-steel-pipe-fittings-supplier-exporter.html">Alloy Steel Pipe Fittings</a></li>
									<li><a href="alloy-steel-forged-fittings-supplier-exporter.html">Alloy Steel Forged Fittings</a></li>
									<li><a href="alloy-steel-flanges-supplier-exporter.html">Alloy Steel Flanges</a></li>
									<li><a href="alloy-steel-fasteners-supplier-exporter.html">Alloy Steel Fasteners</a></li>
									<li><a href="alloy-steel-rod-bars-wire-mesh-supplier-exporter.html">Alloy Steel Rod, Bars, Wire</a></li>
									<li><a href="alloy-steel-a387-gr-11-22-91-sheet-plate-supplier-exporter.html">Alloy Steel Sheet Plate</a></li>
								</ul>
							</li>

						</ul>
					</li>

					<li><a>Special Alloys</a>
						<ul>
							<li><a><strong>Inconel</strong></a>
								<ul>
									<li><a href="inconel-pipes-supplier-exporter.html">Inconel Pipes</a></li>
									<li><a href="inconel-pipe-fittings-supplier-exporter.html">Inconel Pipe Fittings</a></li>
									<li><a href="inconel-forged-fittings-supplier-exporter.html">Inconel Forged Fittings</a></li>
									<li><a href="inconel-flanges-supplier-exporter.html">Inconel Flanges</a></li>
									<li><a href="inconel-fasteners-supplier-exporter.html">Inconel Fasteners</a></li>
									<li><a href="inconel-rod-bars-wire-mesh-supplier-exporter.html">Inconel Rod, Bars, Wire</a></li>
									<li><a href="inconel-compression-tube-fittings-supplier-exporter.html">Inconel Compression Fittings</a></li>
									<li><a href="inconel-sheet-plate-supplier-exporter.html">Inconel Sheet Plate </a></li>
								</ul>
							</li>
							<li><a><strong>Hastelloy</strong></a>
								<ul>
									<li><a href="hastelloy-c276-pipes-supplier-exporter.html">Hastelloy Pipes</a></li>
									<li><a href="hastelloy-pipe-fittings-supplier-exporter.html">Hastelloy Pipe Fittings</a></li>
									<li><a href="hastelloy-forged-fittings-supplier-exporter.html">Hastelloy Forged Fittings</a></li>
									<li><a href="hastelloy-flanges-supplier-exporter.html">Hastelloy Flanges</a></li>
									<li><a href="hastelloy-c276-fasteners-supplier-exporter.html">Hastelloy Fasteners</a></li>
									<li><a href="hastelloy-rod-bars-wire-mesh-supplier-exporter.html">Hastelloy Rod, Bars, Wire</a></li>
									<li><a href="hastelloy-c276-compression-tube-fittings-supplier-exporter.html">Hastelloy Compression Fittings</a></li>
									<li><a href="hastelloy-c276-sheet-plate-supplier-exporter.html">Hastelloy Sheet Plate </a></li>
								</ul>
							</li>
							<li><a><strong>Nickel</strong></a>
								<ul>
									<li><a href="nickel-pipes-supplier-exporter.html">Nickel Pipes</a></li>
									<li><a href="nickel-pipe-fittings-supplier-exporter.html">Nickel Pipe Fittings</a></li>
									<li><a href="nickel-forged-fittings-supplier-exporter.html">Nickel Forged Fittings</a></li>
									<li><a href="nickel-flanges-supplier-exporter.html">Nickel Flanges</a></li>
									<li><a href="nickel-fasteners-supplier-exporter.html">Nickel Fasteners</a></li>
									<li><a href="nickel-rod-bars-wire-mesh-supplier-exporter.html">Nickel Rod, Bars, Wire</a></li>
									<li><a href="nickel-compression-tube-fittings-supplier-exporter.html">Nickel Compression Fittings</a></li>
									<li><a href="nickel-sheet-plate-supplier-exporter.html">Nickel Sheet Plate </a></li>
								</ul>
							</li>
							<li><a><strong>Monel</strong></a>
								<ul>
									<li><a href="monel-400-pipes-supplier-exporter.html">Monel Pipes</a></li>
									<li><a href="monel-400-pipe-fittings-supplier-exporter.html">Monel Pipe Fittings</a></li>
									<li><a href="monel-forged-fittings-supplier-exporter.html">Monel Forged Fittings</a></li>
									<li><a href="monel-flanges-supplier-exporter.html">Monel Flanges</a></li>
									<li><a href="monel-fasteners-supplier-exporter.html">Monel Fasteners</a></li>
									<li><a href="monel-rod-bars-wire-mesh-supplier-exporter.html">Monel Rod, Bars, Wire</a></li>
									<li><a href="monel-compression-tube-fittings-supplier-exporter.html">Monel Compression Fittings</a></li>
									<li><a href="monel-400-sheet-plate-supplier-exporter.html">Monel Sheet Plate </a></li>
								</ul>
							</li>
							<li><a><strong>Titanium</strong></a>
								<ul>
									<li><a href="titanium-pipes-supplier-exporter.html">Titanium Pipes</a></li>
									<li><a href="titanium-pipe-fittings-supplier-exporter.html">Titanium Pipe Fittings</a></li>
									<li><a href="titanium-forged-fittings-supplier-exporter.html">Titanium Forged Fittings</a></li>
									<li><a href="titanium-flanges-supplier-exporter.html">Titanium Flanges</a></li>
									<li><a href="titanium-fasteners-supplier-exporter.html">Titanium Fasteners</a></li>
									<li><a href="titanium-rod-bars-wire-mesh-supplier-exporter.html">Titanium Rod, Bars, Wire</a></li>
									<li><a href="titanium-compression-tube-fittings-supplier-exporter.html">Titanium Compression Fittings</a></li>
									<li><a href="titanium-sheet-plate-supplier-exporter.html">Titanium Sheet Plate </a></li>
								</ul>
							</li>

							<li><a><strong>Alloy 20</strong></a>
								<ul>
									<li><a href="alloy-20-pipes-supplier-exporter.html">Alloy 20 Pipes</a></li>
									<li><a href="alloy-20-pipe-fittings-supplier-exporter.html">Alloy 20 Pipe Fittings</a></li>
									<li><a href="alloy-20-forged-fittings-supplier-exporter.html">Alloy 20 Forged Fittings</a></li>
									<li><a href="alloy-20-flanges-supplier-exporter.html">Alloy 20 Flanges</a></li>
									<li><a href="alloy-20-fasteners-supplier-exporter.html">Alloy 20 Fasteners</a></li>
									<li><a href="alloy-20-rod-bars-wire-mesh-supplier-exporter.html">Alloy 20 Rod, Bars, Wire</a></li>
									<li><a href="alloy-20-compression-tube-fittings-supplier-exporter.html">Alloy 20 Tube Fittings</a></li>
									<li><a href="alloy-20-sheet-plate-supplier-exporter.html">Alloy 20 Sheet Plate </a></li>
								</ul>
							</li>
							<li><a><strong>Cupro Nickel</strong></a>
								<ul>
									<li><a href="cupro-nickel-pipes-supplier-exporter.html">Cupro Nickel Pipes</a></li>
									<li><a href="cupro-nickel-pipe-fittings-supplier-exporter.html">Cupro Nickel Pipe Fittings</a></li>
									<li><a href="cupro-nickel-forged-fittings-supplier-exporter.html">Cupro Nickel Forged Fittings</a></li>
									<li><a href="cupro-nickel-flanges-supplier-exporter.html">Cupro Nickel Flanges</a></li>
									<li><a href="cupro-nickel-rod-bars-wire-mesh-supplier-exporter.html">Cupro Nickel Rod, Bars, Wire</a></li>
									<li><a href="cupro-nickel-compression-tube-fittings-supplier-exporter.html">Cupro Nickel Tube Fittings</a></li>
									<li><a href="cupro-nickel-sheet-plate-supplier-exporter.html">Cupro Nickel Sheet Plate </a></li>
								</ul>
							</li>
							<li><a><strong>Copper / Brass </strong></a>
								<ul>
									<li><a href="copper-brass-rod-bars-wire-mesh-supplier-exporter.html">Copper / Brass Rod, Bars, Wire</a></li>
									<li><a href="copper-brass-compression-tube-fittings-supplier-exporter.html">Copper / Brass Tube Fittings</a></li>
									<li><a href="copper-brass-sheet-plate-supplier-exporter.html">Copper / Brass Sheet Plate</a></li>
								</ul>
							</li>

						</ul>
					</li>

					<li><a href="contact.html">contact</a></li>

					<li><a href="blog.html">blog</a></li>
				</ul>

			</div>

		</div>

		<div class="fixit_header_right">
			<ul class="fixit_cart_secret_menu">

				<li class="fixit_secret_wrapper"><a><img src="images/iso-9001.png" alt="ISO 9001 Certified"></a>
					<div class="fixit_secret_box">
						<span class="fixit_secret_close"><i class="fa fa-times" aria-hidden="true"></i></span>
						<div class="fixit_logo">
							<a href="index.html"><img src="images/logo.jpg" alt="Ramdevra Forge & Fittings "></a>

						</div>

						<p>Founded in the year 2006, Ramdevra Forge is among the most notable business enterprises occupied in Manufacturing and Supplying a comprehensive consignment of products comprising Welding Neck Flanges, Pipe Fittings, Stainless Steel Flanges, Forge Fittings, Butt Welding Fittings, Commercial Fasteners and Stainless Steel Rod.</p>


						<img src="images/iso.png" alt="">
						<p></p>
						<p><strong>Corporate Address</strong> SHOP NO-3,GROUND FLOOR,PLOT NO-171/181,3RD KUMBHARWADA, DR M.G MARG, Mumbai, Maharashtra 400004 </p>

						


						<p><strong>Mobile</strong> : +91-99201142161 <br>
							<strong>Phone Nos.</strong> : +91-22-66109493 / 66109491 <br>
							<strong>E-mail</strong> : sales@rfflanges.com</p>


					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- Header End -->